path/to/your/largefile filter=lfs diff=lfs merge=lfs -text
/Users/faishalkamil/Documents/kuliah/thesis/GUI/myenv filter=lfs diff=lfs merge=lfs -text
/Users/faishalkamil/Documents/kuliah/thesis/GUI/model filter=lfs diff=lfs merge=lfs -text
